JAVA_VERSION=14

ENV_FILE_FOUND=""
if [ -f .env ]; then
   echo "Setting environment variables from .env file"
   while read -r line || [ -n "$line" ]; do [[ $line =~ ^#.* ]] && continue; [[ -n $line ]] && export $line; done < .env
   ENV_FILE_FOUND="1"
fi

if [ -f .env_local ]; then
   echo "Setting environment variables from .env_local file"
   while read -r line || [ -n "$line" ]; do [[ $line =~ ^#.* ]] && continue; [[ -n $line ]] && export $line; done < .env_local
elif [ -n "$ENV_FILE_FOUND" ]; then
    echo "(you can overwrite the .env values with .env_local file)"
fi

if [ -x "$(command -v /usr/libexec/java_home)" ]; then
  JAVA_HOME=$(/usr/libexec/java_home -v $JAVA_VERSION)
  if [ $? -eq 0 ]; then
    export JAVA_HOME;
    echo Using java $JAVA_HOME;
  else
    echo "Please ensure Java $JAVA_VERSION is installed"
  fi;
else
  echo "Unable to set java version, please ensure your using Java $JAVA_VERSION"
fi
